.cursorEle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    /* background-color: rgba(245, 245, 245, 0.699); */
    background-color: rgba(243, 70, 8, 0.699);
    pointer-events: none;
}

@media (max-height: 700px) {
  /* Adjust hero section */
}


@media (min-width: 1281px) {
  /* Large desktops */
}

@media (max-width: 1280px) {
  /* Normal laptops */
}

@media (max-width: 1024px) {
  /* Tablets / small laptops */
  .cursorEle{
    display: none;
  }
}

@media (max-width: 768px) {
  /* Tablets + large phones */
}

@media screen and (max-width: 480px) {
  
}